.div--vitrine{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    gap: 35px;
}

.container--vitrine{
    text-align: center;
    width: 200px;
}

.img--borda{
    border: 1px solid #E2DEDC;
    opacity: 1;
    height: 220px;
    width: 210px;
}

.name--vitrine{
    text-transform: uppercase;
    color: #626262;;
     font-size: 16px;
     height: 30px;
}

.price--vitrine{
    color: #1E2B50;
    font-size: 21px;
    font-weight: 800;
}