.container__login {
    width: 100%;
    height: 30px;
    background: #231F20;

}

.section__login {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    color: #fff;
    width: 1240px;
    margin: 0 auto;
    max-width: 100%;
}

.section__link__acesso {
    color: #fff;
}

.section--banner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}


.page__logo {
    width: 200px;
}

input {
    height: 45px;
    width: 415px;
    border: 1px solid #959595;
    outline: #959595;

}
